<li class="nav-item">

  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
    aria-expanded="true" aria-controls="collapseTwo">
    <i class="fas fa-fw fa-cog"></i>
    <span>Visitors</span>
  </a>

  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
   
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Components:</h6>
      <%= link_to 'Visitors List', visitors_path, class:"collapse-item" %>
      <%= link_to 'New Visitor', new_visitor_path, class:"collapse-item" %>
    </div>

  </div>
</li>

<!-- Nav Item - Utilities Collapse Menu -->
<li class="nav-item">
 
  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
    aria-expanded="true" aria-controls="collapseUtilities">
    <i class="fas fa-fw fa-wrench"></i>
    <span>Voucher</span>
  </a>

  <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
    
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Components:</h6>
      <%= link_to 'Voucher List', vouchers_path, class:"collapse-item" %>
      <%= link_to 'New Voucher', new_voucher_path, class:"collapse-item" %>
    </div>

  </div>
</li>
